python-dateutil>=2.7.3
libmozdata>=0.1.48
jinja2>=2.10
flask>=1.0.2
flask_sqlalchemy>=2.3.2
sqlalchemy>=1.2.12
honcho>=1.0.1
gunicorn>=19.9.0
psycopg2-binary>=2.7.5
apscheduler>=3.5.3
pyparsing>=2.2.2
cycler >= 0.10.0
python-binary-memcached>=0.28.0
