/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * Fonts
 */

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: normal;
  src: local('FiraGO Book'),
    url('/fonts/FiraGO-Book-subset.woff2?v=1.001') format('woff2'),
    url('/fonts/FiraGO-Book-subset.woff?v=1.001') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src:
    url('/fonts/FontAwesome-subset.woff2?v=4.7.0') format('woff2'),
    url('/fonts/FontAwesome-subset.woff?v=4.7.0') format('woff');
}

/**
 * Variables
 */

@media all {
  :root {
    --font-size-h1: 32px;
    --font-size-h2: 26px;
    --font-size-x-large: 15px;
    --font-size-medium: 13px;
    --line-height-default: 1.25;
    --line-height-comfortable: 1.5;
    --font-family-sans-serif: 'FiraGO', sans-serif;
    --control-border-radius: 4px;
    --control-padding: 6px 8px;
  }
}

/**
 * Light Theme
 */

@media all {
  :root {
    --accent-color-red-1: 220, 40, 30;
    --accent-color-red-2: 194, 35, 27;
    --accent-color-pink-1: 250, 195, 195;
    --accent-color-lightgreen-1: 195, 250, 195;
    --accent-color-gray-1: 210, 211, 212;

    --application-foreground-color: rgb(60, 61, 62);
    --application-background-color: rgb(235, 236, 237);
    --secondary-label-color: rgb(100, 101, 102);
    --accent-label-color: rgb(50, 51, 52);
    --link-text-color: rgb(0, 125, 210);
    --link-text-hover-color: rgb(0, 103, 171);
    --control-border-color: rgb(200, 201, 202);
    --secondary-control-border-color: rgb(220, 221, 222);
    --grid-background-color: rgb(250, 251, 252);
    --grid-border-color: rgb(200, 201, 202);
    --grid-header-background-color: rgb(230, 231, 232);
    --grid-subheader-background-color: rgb(210, 211, 212);
  }
}

/**
 * Dark Theme
 */

@media screen and (prefers-color-scheme: dark) {
  :root {
    --accent-color-red-1: 255, 47, 36;
    --accent-color-red-2: 220, 40, 30;
    --accent-color-pink-1: 128, 64, 64;
    --accent-color-lightgreen-1: 64, 128, 64;
    --accent-color-gray-1: 60, 61, 62;

    --application-foreground-color: rgb(200, 201, 202);
    --application-background-color: rgb(30, 31, 32);
    --secondary-label-color: rgb(160, 161, 162);
    --accent-label-color: rgb(240, 241, 242);
    --link-text-color: rgb(0, 148, 247);
    --link-text-hover-color: rgb(0, 125, 210);
    --control-border-color: rgb(60, 61, 62);
    --secondary-control-border-color: rgb(30, 31, 32);
    --grid-background-color: rgb(40, 41, 42);
    --grid-border-color: rgb(60, 61, 62);
    --grid-header-background-color: rgb(50, 51, 52);
    --grid-subheader-background-color: rgb(70, 71, 72);
  }
}

/**
 * Global
 */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--application-foreground-color);
  background-color: var(--application-background-color);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-default);
  font-family: var(--font-family-sans-serif);
  scrollbar-color: var(--control-border-color) var(--secondary-control-border-color);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-text-hover-color);
  text-decoration: underline;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-top: 1px solid var(--grid-border-color);
  background-color: var(--grid-background-color);
}

thead {
  background-color: var(--grid-header-background-color);
}

tr {
  border-bottom: 1px solid var(--grid-border-color);
}

thead th {
  padding: 4px 8px;
  font-size: var(--font-size-small);
  text-align: center;
  font-weight: normal;
}

thead th .platform {
  float: right;
  margin-left: 8px;
}

tbody th,
tbody td {
  padding: 8px;
  text-align: center;
}

tbody th {
  color: var(--secondary-label-color);
  background-color: var(--grid-header-background-color);
  font-weight: normal;
}

tbody a {
  color: inherit !important;
}

/**
 * Colors
 */

.no-info {
  color: var(--accent-label-color);
  background-color: rgba(var(--accent-color-gray-1), .8);
}

.with {
  color: var(--accent-label-color);
  background-color: rgba(var(--accent-color-lightgreen-1), .8);
}

.without {
  color: var(--accent-label-color);
  background-color: rgba(var(--accent-color-pink-1), .8);
}

.startup {
  color: rgb(240, 241, 242);
  background-color: rgb(var(--accent-color-red-1));
}

/**
 * Icons
 */

.icon::before {
  font-family: 'FontAwesome';
}

.icon.github::before {
  content: '\f09b';
}

.icon.help::before {
  content: '\f05a';
}

.icon.windows::before {
  content: '\f17a';
}

.icon.mac::before {
  content: '\f179';
}

.icon.linux::before {
  content: '\f17c';
}

.icon.android::before {
  content: '\f17b';
}

/**
 * Table page
 */

body.table {
  background-color: transparent; /* Because it's in <iframe> */
}

body.table header {
  display: flex;
  align-items: center;
  margin: 0 0 8px;
}

body.table header > * {
  margin: 0 8px;
}

body.table h1 {
  flex: none;
  font-size: inherit;
  font-weight: normal;
}

body.table .links {
  flex: none;
  display: flex;
  align-items: center;
}

body.table .links a {
  display: inline-block;
  margin: 0 4px;
  color: inherit;
}

body.table .legend {
  flex: auto;
  display: flex;
  align-items: center;
}

body.table .legend span {
  margin: 0 4px;
  padding: 2px 16px;
}

body.table .info {
  margin: 8px 0 0;
}

/**
 * Help page
 */

body.help article {
  margin: 48px;
}

body.help p,
body.help ul {
  margin: 8px 0;
  font-size: var(--font-size-x-large);
  line-height: var(--line-height-comfortable);
}

body.help picture {
  display: block;
  margin: 16px 0;
  text-align: center;
}

img.github {
  position: absolute;
  top: 0;
  right: 0;
}
